order_button()
	display block
	width 100%
	height-vct 48.27px
	text-align center
	text-transform uppercase
	font-size 12px
	font-weight bold
	font-family 'League Spartan'
	color #919294
order_button_primary()
	order_button()
	color white
	background #919294
