<span class="number"><label>Order #</label> <span class="value">{{$ctrl.order.number}}</span></span>
<ul class="bundles">
	<li ng-repeat="bundle in $ctrl.order.bundles">
		<bundle>
	    <bundle-summary>
	    	<span class="bundle" data-background-image="{{bundle.type.icon}}">{{bundle.type.name}} <span class="price">{{bundle.type.price | currency}}</span></span>
	    	<span class="meal-plan" data-background-image="{{bundle.mealPlan.icon}}">{{bundle.mealPlan.name}}</span>
	    	<span class="portion" data-background-image="{{bundle.portion.icon}}">{{bundle.portion.name}}</span>
		  </bundle-summary>
		  <bundle-meals>
			  <ul>
					<li ng-repeat="meal in bundle.mealSelections">
						<span class="quantity">{{meal.quantity}}</span>
						<span class="name">{{meal.meal.name}}</span>
					</li>
			  </ul>
		  </bundle-meals>
		  <bundle-allergies>
		  	<label>Allergies:</label>
		  	<ul ng-if="bundle.allergies.length">
		  		<li ng-repeat="allergy in bundle.allergies">{{allergy.title}}</li>
		  	</ul>
		  	<p ng-if="!bundle.allergies.length">None</p>
		  </bundle-allergies>
		</bundle>
	</li>
</ul>
<div class="order-info">
  <div class="delivery-date-time"><span class="date">{{$ctrl.order.deliveryOptions.date}}</span><span class="time">{{$ctrl.order.deliveryOptions.time.start}}-{{$ctrl.order.deliveryOptions.time.end}}</span></div>
  <div class="delivery-address">
		<span class="address">{{$ctrl.order.deliveryOptions.address}}</span>
		<span class="postalCode">{{$ctrl.order.deliveryOptions.postalCode}}</span>
  </div>
  <div class="extra">
  	<div class="line">
  		<label>Disposable cutlery:</label>
  		<span class="value">{{$ctrl.order.deliveryOptions.disposableCutlery ? 'Yes' : 'No'}}</span>
  	</div>
  	<div class="line">
  		<label>Delivery note:</label>
  		<span class="value">{{$ctrl.order.deliveryOptions.note}}</span>
  	</div>
  </div>
  <div class="total">
  	<div class="line">
  		<label>Subtotal</label>
  		<span class="value">{{$ctrl.order.subtotal | currency}}</span>
  	</div>
  	<div class="line">
  		<label>Delivery fee</label>
  		<span class="value">{{$ctrl.order.deliveryFee | currency}}</span>
  	</div>
  	<div class="line total">
  		<label>Total</label>
  		<span class="value">{{$ctrl.order.total | currency}}</span>
  	</div>
  </div>
  <div class="transaction-info">
  	<div class="line payment-method">
  		<label>Payment Method:</label> <span class="value">Credit Card</span>
  	</div>
  	<div class="line transaction-id">
  		<label>Transaction ID:</label> <span class="value">2U9385G7W2051FS2</span>
  	</div>
  </div>
</div>
<button class="reorder" ng-click="$ctrl.reorder()">Re-Order</button>
<button class="show-details" ng-click="$ctrl.showDetails()">Details</button>
<button class="hide-details" ng-click="$ctrl.hideDetails()">Hide Details</button>
