@import '../_header'
#change-password
	.old-password
		margin-bottom 10px
	.new-password
		margin-bottom 5px
	.confirm
		margin 20px 0 10px
		button()
	.forgot-password
		display block
		text-align center
